<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3>Carégories</h3>
                <ul>
                    <li><a href="#">Revues</a></li>
                    <li><a href="#">Recettes</a></li>
                    <li><a href="#">Découvertes</a></li>
                </ul>
            </div>
            <!-- end Catégories -->
            <!-- end col-12-1 -->
            <div class="col-12 col-lg-4">
                <h3>Archives</h3>
                <ul>
                    <li><a href="#">2019</a></li>
                    <li><a href="#">2018</a></li>
                    <li><a href="#">2017</a></li>
                </ul>
            </div>
            <!-- end Archives -->
            <!-- end col-12-2 -->
            <div class="col-12 col-lg-4">
                <form action="">
                    <div class="form-group row">
                        <label class="labels col-12">Newsletter</label>
                        <input class="form-control col-9 ml-auto" type="email" placeholder="Email..."
                            aria-label="email">
                        <button class="btn btn-outline-light col-3" type="submit">S'inscrire</button>
                    </div>
                    <!-- end newsletter -->
                    <p class="labels">Partager</p>
                    <ul class="row justify-content-between col-9">
                        <li class="mediaF"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                                    class="fab fa-facebook-square"></i></a>
                        </li>
                        <li class="mediaF"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li class="mediaF"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                                    class="fab fa-youtube"></i></a></li>
                        <li class="mediaF"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                                    class="fab fa-twitter"></i></a></li>
                    </ul>
                </form>
            </div>
            <!-- end col-12-3 -->
        </div>
    </div>
    <!-- end row footer -->

</footer>