<aside class=" col-lg-3">
    <form>
        <div class="form-group">
            <label class="labels">Recherche</label>
            <input class="form-control" type="search" placeholder="Recherche..." aria-label="Search">
            <button class="btn btn-outline-dark col-12" type="submit">OK</button>
        </div>
        <!-- end search -->
        <div class="form-group ">
            <label class="labels">Newsletter</label>
            <input class="form-control" type="email" placeholder="Email..." aria-label="email">
            <button class="btn btn-outline-dark col-12" type="submit">S'inscrire</button>
        </div>
        <!-- end newsletter -->
        <p class="labels">Partager</p>
        <ul class="row justify-content-between col-9">
            <li class="media"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-facebook-square"></i></a>
            </li>
            <li class="media"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-instagram"></i></a></li>
            <li class="media"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-youtube"></i></a></li>
            <li class="media"><a href="http://" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-twitter"></i></a></li>
        </ul>
    </form>
    <!-- end form -->

</aside>