<div class="intro">
    <img src="./img/logo_square_white.png" alt="logo cuisine">
    <h1>Nous contacter</h1>
</div>
<!-- end intro -->
</div>
<!-- end container header -->
</div>
<!-- end black -->
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="adres col-12 col-lg-9 mb-5">
                <h3 class="col-12 col-lg-9 mt-5">Contact</h3>
                <div class="col-11 col-lg-8 offset-lg-1">
                    <h4>Adresse</h4>
                    <p>Statopn F</p>
                    <p>5 parvis Alan Turing</p>
                    <p>75013 Paris</p>

                    <div class="mapLittle">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.2733429134287!2d2.369156315639393!3d48.83392461038313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67222208823cf%3A0x541ecb63365de48!2sSTATION%20F!5e0!3m2!1spl!2sfr!4v1606944591503!5m2!1spl!2sfr"
                            width="350" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <!-- end mapLittle -->
                    <div class="mapBig">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.2733429134287!2d2.369156315639393!3d48.83392461038313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67222208823cf%3A0x541ecb63365de48!2sSTATION%20F!5e0!3m2!1spl!2sfr!4v1606944591503!5m2!1spl!2sfr"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <!-- end mapBig -->
                </div>
                <!-- end where -->

            </div>
            <!-- end adress -->
            {{> sidebar}}
        </div>
        <!-- end row adres -->
    </div>
    <!-- end container main -->
</main>
<!-- end main -->