<div class="intro">
    <img src="./img/logo_square_white.png" alt="logo cuisine">
    <h1>Cui'zine</h1>
    <h2>Le mag cuisine</h2>
</div>
<!-- end intro -->
</div>
<!-- end container header -->
</div>
<!-- end black -->
</header>
<main>
    <div class="container">
        <div class="row">
            <h2 class="col-12">Derniers articles</h2>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <img src="./img/articles/suzette/suzette-small.jpg" alt="suzette" class="img-fluid col-12 col-md-4">
                    <div class="col-12 col-md-8">
                        <h3><a href="/post"> Chez Suzette, la nouvelle crêperie qui fait parler d'elle</a>
                        </h3>
                        <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier
                            restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les
                            saveurs sucrées, salées au froment ou au sarrazin!</p>
                    </div>
                </div>
                <div class="row">
                    <img src="./img/articles/metro/metro-small.jpg" alt="métro" class="img-fluid col-12 col-md-4">
                    <div class="col-12 col-md-8">
                        <h3><a href="#"> Le Métro dessert</a></h3>
                        <p>Germain est ferrovipathe (ndlr: fan de train), son fils Maxime est pâtissier. Ils ont
                            décidé de réunir leur deux passions dans un restaurant à la déco inspiré du métro
                            parisien. A voir absolument, mais qu'en est-il d'y aller
                            pour manger ? Clémentine entre en gare et nous donne son avis</p>
                    </div>
                </div>
                <div class="row">
                    <img src="./img/articles/vitaly/vitaly-small.jpg" alt="vitaly" class="img-fluid col-12 col-md-4">
                    <div class="col-12 col-md-8">
                        <h3><a href="#"> Vitaly, le végan italien</a></h3>
                        <p>Quand on pense italien, on pense lasagne et jambon de Parme. Ils l'ont fait, les saveurs
                            de l'Italie à portée des herbivores. Cette fois, c'est moi Tony qui vais le tester pour
                            vous.</p>
                    </div>
                </div>
                <p class="pages">
                    <a href="/page2">
                        << Voir les articles précédantes</a> </p> </div> <!-- end col-12 col-lg-9" -->

                            {{> sidebar}}
            </div>
            <!-- end row container -->
        </div>
        <!-- en container main -->
</main>