<div class="intro">
    <img src="./img/logo_square_white.png" alt="logo cuisine">
    <h1>Cui'zine</h1>
    <h2>Le mag cuisine</h2>
</div>
<!-- end intro -->
</div>
<!-- end container header -->
</div>
<!-- end black -->
</header>
<main>
    <div class="container">
        <div class="row">
            <h2 class="col-12">Derniers articles</h2>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <img src="./img/recipes/paella/paella-small.jpg" alt="paella" class="img-fluid col-12 col-md-4">
                    <div class="col-12 col-md-8">
                        <h3><a href="/blog"> La Paëlla à la maison</a></h3>
                        <p>Une paëlla rapide, pas chère et gouteuse.</p>
                    </div>
                </div>
                <div class="row justify-content-end mr-lg-4">
                    <p class="pages ">
                        <a href="/">
                            Voir les articles suivants >></a>
                    </p>
                </div>
            </div>
            <!-- end col-12 col-lg-9" -->
            {{> sidebar}}
        </div>
        <!-- end row container -->
    </div>
    <!-- en container main -->
</main>