<div class="intro">

    <h2 class="black mr-3 ml-3 m-lg-auto p-lg-2">Chez Suzette, la nouvelle crêperie qui fait parler d'elle</h2>

</div>
<!-- end intro -->

</header>
<main>
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-lg-9 border-bottom-1 border-dark">
                <h3>Intro</h3>
                <p class="letter">La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier
                    restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés,
                    salés au froment ou au sarrazin!</p>
                <h3>Dévelppement</h3>
                <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris
                    dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment
                    ou au sarrazin!</p>
                <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris
                    dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment
                    ou au sarrazin!</p>
                <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris
                    dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment
                    ou au sarrazin!</p>
                <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris
                    dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment
                    ou au sarrazin!</p>
                <h3>Conclusion</h3>
                <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris
                    dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment
                    ou au sarrazin!</p>
            </div>
            <!-- end div article -->
            {{> sidebar}}
        </div>
        <!-- end row main-->
        <div class="row presentation mt-5 mb-5 justify-content-center">
            <div class="col-4 col-lg-2">
                <a href="/equipe-membre"><img src="./img/team/antoine.jpg" alt="Antoine" class="rounded-circle"></a>
            </div>
            <!-- end div image -->
            <div class="col-8 col-lg-5">
                <h4><a href="/equipe-membre">A propos de l'auteur</a> </h4>
                <p>Antoine a découvert la nourriture dès le plus jeune âge, depuis il est fan. Ce qu'il préfére dans la
                    cuisine c'est faire la vaisselle</p>

            </div>
            <!-- end div descriotion -->
        </div>
        <!-- end row presentation -->
        <form class="row justify-content-center">
            <div class="form-group col-12 col-lg-7">
                <label class="labels">Email</label>
                <input class="form-control" type="email" placeholder="Votre mail..." aria-label="email">
            </div>

            <div class="form-group col-12 col-lg-7">
                <label class="labels">Nom</label>
                <input class="form-control" type="email" placeholder="Votre nom..." aria-label="email">
            </div>

            <div class="form-group col-12 col-lg-7">
                <label class="labels" for="exampleFormControlTextarea1">Commentaire</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Votre commentaire..."></textarea>
            </div>

            <button class="btn btn-outline-dark mb-5 col-12 col-lg-7" type="submit">Envoyer</button>

        </form>
        <div class="row mb-5">
            <h3 class="col-12">Dîtez nous ce que vous avez pensé</h3>
            <div class="col-12 d-flex">
                <img src="./img/logo_square_black.png" alt="logo" class="comentary">

                <div class="col-9 col-lg-10">
                    <h3>Mathieu</h3>
                    <p>J'ai testé moi aussi, et j'ai été agréablement surpris.</p>
                </div>
                <!-- end text -->
            </div>
            <!-- end commentaire 1 -->
            <div class="col-12 d-flex">
                <img src="./img/logo_square_black.png" alt="logo" class="comentary">
                <div>
                    <h3>Suzette</h3>
                    <p>Merci pour votre revue excellente. Toutes les personnes qui viendront et diront qu'elles ont
                        connu le restaurant grâce à cet article auront un dessert gratuit. Excellente journée à vous !
                    </p>
                </div>
                <!-- end text -->

            </div>
            <!-- end commentaire 2 -->
            <div class="col-12 offset-1 d-flex">
                <img src="./img/logo_square_black.png" alt="logo" class=" comentaryGrey ">
                <div class="col-9">
                    <h3>Hatertz</h3>
                    <p>Ca sent le coup marketing à plein nez !</p>
                </div>
                <!-- end text -->

            </div>
            <!-- end commentaire 3 -->

        </div>
        <!-- end row comentaire -->
    </div>
    <!-- end container main-->
</main>
<!-- end main -->