<div class="intro">
    <img src="./img/logo_square_white.png" alt="logo cuisine">
    <h1>Paëlla</h1>
    <h2>Le plat familial de votre été 2019</h2>
</div>
<!-- end intro -->
</div>
<!-- end container header -->
</div>
<!-- end black -->
</header>
<main class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-between">
            <h2 class="col-6">Paëlla</h2>
            <div class="time col-4 col-md-3 col-lg-2 justify-content-end justify-content-lg-center">
                <p class="cook bg-secondary p-2"><i class="fas fa-stopwatch"></i>Préparation 2h</p>
                <p class="cook bg-secondary p-2"><i class="far fa-hourglass"></i>Cuisson 1h</p>
            </div>
            <!-- end time -->
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="ingrediants col-12 col-lg-3">
                        <span class="badge badge-pill badge-secondary p-3 m-1"> sel</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> poivre</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> ris</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> poulet</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> mouels</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> porc</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> ail</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> piment</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> poivre de Caillenne</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> buillon</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> nion</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> petit pois</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> vin</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> percil</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> choriso</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> crevettes</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> tomates</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> poivrons</span>
                        <span class="badge badge-pill badge-secondary p-3 m-1"> amandes</span>

                    </div>
                    <!-- end ingrediants -->
                    <div class="col-12 col-lg-9">
                        <h3>Etape 1</h3>
                        <p>Verser la moitié de l'huile dans une très large poêle, y faire dorer le poulet, le porc et la
                            saucisse jusqu'à mi-cuisson, puis les retirer.</p>
                        <h3>Etape 2</h3>
                        <p>Pendant ce temps, faire ouvrir les moules et les coques dans le vin blanc avec 2 cuillères à
                            soupe d'oignons émincés et de persil haché.</p>
                        <h3>Etape 3</h3>
                        <p>Les mettre de côté et réserver le jus filtré.</p>
                        <h3>Etape 4</h3>
                        <p>Rajouter les crevettes ou langoustines dans la poêle avec la viande, les faire sauter puis
                            retirer le tout et réserver.</p>
                        <h3>Etape 5</h3>
                        <p>Remettre un peu d'huile et faire suer l'oignon d'Espagne et 2 gousses d'ail émincées dans la
                            poêle.</p>
                        <h3>Etape 6</h3>
                        <p>Rajouter les tomates pelées et coupées, les piments émincés et laisser cuire doucement
                            pendant 5 min, en remuant constamment.</p>
                        <h3>Etape 7</h3>
                        <p>Retirer tout le mélange de la poêle, et rajouter le reste d'huile.</p>
                        <h3>Etape 8</h3>
                        <p>Faire chauffer l'huile et y verser le riz.</p>
                        <h3>Etape 9</h3>
                        <p>Remuer à la spatule et laisser le riz devenir transparent et crépiter.</p>
                        <h3>Etape 10</h3>
                        <p>A ce moment, verser le bouillon très chaud, l'eau des moules et le safran délayé dans un peu
                            d'eau chaude.</p>
                        <h3>Etape 11</h3>
                        <p>Remettre tous les ingrédients sauf les petits pois.</p>
                        <h3>Etape 12</h3>
                        <p>Porter à ébullition doucement et laisser mijoter 15 min sans remuer.</p>
                        <h3>Etape 13</h3>
                        <p>Rajouter les petits pois et le reste de la langouste, puis placer en surface quelques
                            crevettes, moules, coques et morceaux de poulet.</p>
                        <h3>Etape 14</h3>
                        <p>Couvrir, et prolongez la cuisson de 5 à 10 min, le riz doit avoir absorbé tout le jus tout en
                            gardant une texture ferme</p>
                    </div>
                    <!-- end recipe -->
                    <div class="row justify-content-center">
                        <img src="./img/recipes/sponsored/dessert1.jpg" alt="desser 1" class="images col-lg-3">
                        <img src="./img/recipes/sponsored/dessert2.jpg" alt="desser 2" class="images col-lg-3">
                        <img src="./img/recipes/sponsored/side1.jpg" alt="" class="images col-lg-3">
                    </div>
                    <!-- end row images -->

                </div>
                <!-- end row -->
            </div>
            <!-- end col-12 col-lg-9" -->
            {{> sidebar}}
        </div>
        <!-- end row container -->
    </div>
    <!-- en container main -->
</main>