<div class="intro">
    <h1>On apprend en enseignant</h1>
    <h2>Un pour tous et tous pour un</h2>
</div>
<!-- end intro -->
</div>
<!-- end container header -->
</div>
<!-- end black -->
</header>
<main class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="cart col-12 col-md-6 col-lg-4 presentation">
                        <a href="#"><img src="./img/team/tony.jpg" alt="tony" class=" rounded-circle"></a>
                        <h3 class="mt-2"><a href="#">Tony</a></h3>
                        <p>redacteur en chef</p>
                    </div>
                    <!-- end cart 1-->
                    <div class="cart col-12 col-md-6 col-lg-4 presentation">
                        <a href="#"><img src="./img/team/clementine.jpg" alt="tony" class=" rounded-circle"></a>
                        <h3 class="mt-2"><a href="#">Clementine</a></h3>
                        <p>journaliste culinaire</p>
                    </div>
                    <!-- end cart 2-->
                    <div class="cart col-12 col-md-6 col-lg-4 presentation">
                        <a href="./equipe-membre"><img src="./img/team/antoine.jpg" alt="tony"
                                class=" rounded-circle"></a>
                        <h3 class="mt-2"><a href="./equipe-membre">Antoine</a></h3>
                        <p>gouteur professionnel</p>
                    </div>
                    <!-- end cart 3-->
                    <div class="cart col-12 col-md-6 col-lg-4 presentation">
                        <a href="#"><img src="./img/team/tony.jpg" alt="tony" class=" rounded-circle"></a>
                        <h3 class="mt-2"><a href="#">Tony</a></h3>
                        <p>redacteur en chef</p>
                    </div>
                    <!-- end cart 1-->
                    <div class="cart col-12 col-md-6 col-lg-4 presentation">
                        <a href="#"><img src="./img/team/clementine.jpg" alt="tony" class=" rounded-circle"></a>
                        <h3 class="mt-2"><a href="#">Clementine</a></h3>
                        <p>journaliste culinaire</p>
                    </div>
                    <!-- end cart 2-->
                    <div class="cart col-12 col-md-6 col-lg-4 presentation">
                        <a href="./team-member.html"><img src="./img/team/antoine.jpg" alt="tony"
                                class=" rounded-circle"></a>
                        <h3 class="mt-2"><a href="./team-member.html">Antoine</a></h3>
                        <p>gouteur professionnel</p>
                    </div>
                    <!-- end cart 3-->
                </div>
                <!-- end row -->
            </div>
            <!-- end col-12 col-lg-9l -->
            {{> sidebar}}
        </div>
        <!-- end main container -->
    </div>
    <!-- end row main -->
</main>